html,
body {
	margin: 0 !important;	padding: 0 !important;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: $light-gray-color;
}

.right-part {
	float: right;
}

.left-part {
	float: left;
}
