html,
body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

    font-family: $font;
}

body {
	background-color: $light-gray-color !important;
}

.right-part {
	float: right;
}

.left-part {
	float: left;
}

.no-padding {
    padding: 0 !important;
}

.container-width,
.app-container {
  width: 1000px !important;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.tab-view {
  display: none;
}

.tab-view--active {
  display: block;
}