$input-width: 400px;

.input-field {
   position: relative;
   display: block;
   margin-top: 10px;
   width: 350px;

   .dropdown-shit > li {
      color: $darker-gray-color;
      font-weight: $light;
   }

   input,
   .radio-button > .text,
   .checkbox > .text,
   .dropdown-shit > li {
      font-size: $default;
      font-family: $font;
   }

   label:first-of-type {
      left: 3px;
      display: block;
      color: $darker-gray-color;
      font-weight: $semi-bold;
      font-size: $default;
      font-family: $font;      margin-bottom: 5px;   }

   input {
      z-index: 99;
      display: block;
      padding-right: 37px;
      padding-left: 16px;      width: 350px;      margin-bottom: 5px;
      height: 44px;
      outline: none;
      border: 1px solid $dark-gray-color;

      @include rounded($medium-border);
      @include transition(all 150ms ease);
      @include placeholder {
         color: $dark-gray-color;
         font-weight: $light;
      }

      &:focus {
         border-color: $primary-color;
         box-shadow: 0 0 2px $primary-color;
         color: $darker-gray-color;
      }

      &[type="radio"],
      &[type="checkbox"] {
         position: absolute;
         display: inline-block;
         margin: 8px;
         vertical-align: middle;
         opacity: 0;
         cursor: pointer;
      }

      &[type="radio"]:checked + .text:before{
         background-image: url(assets/icons/radio_button_checked.svg);
      }

      &[type="radio"] + .text:before{
         background-image: url(assets/icons/radio_button_unchecked.svg);
      }

      &[type="checkbox"]:checked + .text:before{
         background-image: url(assets/icons/check_box_black.svg);
      }

      &[type="checkbox"] + .text:before{
         background-image: url(assets/icons/check_box_outline.svg);
      }
   }

   .radio-button,
   .checkbox {
      display: inline-block;
      margin-top: 3px;
      margin-right: 25px;
      margin-bottom: 0px;

      .text {
         position: relative;
         padding-left: 0;
         cursor: pointer;

         @include noselect;

         &:before {
            display: inline-block;
            margin-top: -2px;
            margin-right: 10px;
            padding: 2px;
            width: 24px;
            height: 24px;
            background-size: cover;
            content: '';
            vertical-align: middle;
            text-align: center;

            @include transition(all 150ms ease);
         }
      }
   }

   .dropdown-input {
      width: inherit;
      cursor: pointer;

      -webkit-appearance: none;

      & + i {
         top: 36px;
         opacity: 1;
         cursor: pointer;
      }

      &:focus {
         @include rounded(4px 4px 0 0);
      }
   }

   i {
      position: absolute;
      top: 36px;
      right: 10px;
      font-size: 22px;
      opacity: 0;

      &.danger-icon {
         color: $danger-color;
      }

      &.dropdown-shit-arrow {
         color: $darker-gray-color;
      }
   }

   .error-message {
      display: block;
      opacity: 0;
      margin-left: 4px;
      min-width: 350px;
      max-width: 350px;
      color: $danger-color;
      font-weight: $medium;
      font-size: $default;
      font-family: $font;

      @include transition(all 125ms ease-in-out);
   }

   .dropdown-shit {
      position: absolute;
      padding: 5px;
      width: inherit;
      outline: none;
      border: 1px solid $dark-gray-color;
      border-top: 0;
      background-color: #fff;

      @include rounded(0 0 $medium-border $medium-border);

      li {
         padding: 5px;
         padding-left: 10px;
         list-style-type: none;
         cursor: pointer;

         @include rounded;

         &:hover {
            background-color: $medium-gray-color;
            color: #fff;
         }
      }
   }

   &.input-field--danger {
      input,
      .dropdown-input {
         border-color: $danger-color;

         &:focus {
            border-color: $primary-color;
            color: $darker-gray-color;
         }
      }

      .error-message {
         opacity: 1;
      }

      .dropdown-input:focus .danger-icon {
         opacity: 0;
      }

      .danger-icon {
         opacity: 1;
      }
   }
}
