footer {
  background-color: #fff;
  padding: 7px 0;
  width: 100%;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;

  label {
    float: left;
    margin-top: 10px;
  }
}
