.request-row {
  margin-bottom: 15px;

  .info {

    img {
      display: inline-block;
      vertical-align: top !important;
    }

    label {
      max-width: 379px;
      margin-bottom: 0 !important;
      margin-left: 15px;
    }

    .controls {
      float: right;
    }
  }

  .details {
    margin-top: 15px;
    .row {
      margin: 0 !important;
      margin-bottom: 3px;
    }
  }
}
