.side-menu {
  list-style: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  li {
    padding: 7px;
    cursor: pointer;

    @include rounded(4px);

    &:hover {
      background-color: rgba(77,137,251, 0.07);
      border-color: rgba(77,137,251, 0.5);
    }

    &.tab-active {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
