<div class="form" id="login-form">
    <button class="close">
        <i class="material-icons danger-icon">close</i>
    </button>
    <h2 class="headline">Login to your account</h2>

    @Components.InputField("login-email", "Email", "text", "email")
    @Components.InputField("login-password", "Password", "password", "password")

    <button class="btn-primary" id="btn-login">Login</button>
</div>