@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="page-container" style="margin-top: 101px">
    <div class="col-md-4 no-padding">
        @Html.Partial("_createProjectForm")
    </div>

    <div class="col-md-6" style="padding-bottom: 40px;">
        @Projects.Unassigned(ViewBag.userPhoto, "Muhammad Tarek", 0, "Today, 1:00PM", 
                            "College Building Project", "Text")
    </div>
</div>