<!--
    Projects requests
-->
@helper Request(int requestId, string senderPhoto, string senderName,string reqestedProject) { 
    <div class="card" id="@requestId">
        <img src="@senderPhoto"/>
        <label>@senderPhoto requested you to work on @reqestedProject's project</label>
        <div class="controls">
            <button class="icon-btn icon-btn--approve accept-request-btn"></button>
            <button class="icon-btn icon-btn--decline decline-request-btn"></button>
        </div>
    </div>
}