@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@Html.Partial("~/Views/Shared/Components/_Snackbar.cshtml")
@Html.Partial("~/Views/Shared/Components/_Header.cshtml")
<div class="app">
    @RenderBody()
</div>
@Html.Partial("~/Views/Shared/Components/_Footer.cshtml")

<!-- JavaScript Files -->
<script src="~/Scripts/Components/Snackbar.js"></script>
<script src="~/Scripts/Components/InputField.js"></script>
<script src="~/Scripts/Pages/HomePage.js"></script>