<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Public/assets/images/logo-dark.png">
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Public/style.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    @RenderBody()

    <!-- JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    <script src="~/Scripts/Components/InputField.js"></script>
    <script src="~/Scripts/Pages/LandingPage.js"></script>
</body>
</html>