$primary-color: #4d89fb;
$primary-color-dark: #457be1;
$secondary-color: #FCDF49;

//Gray colors
$darker-gray-color: #18181C; //Headings, body, backgrounds
$dark-gray-color: #464649; //Borders, strokes, dividers
$medium-gray-color: #9092A5; //Sub headings, body, disabled buttons
$light-gray-color: #f2f2f2; //Background

//Success and failure colors
$success-color: #30c670;
$danger-color: #f94e4e;
