@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Fonts family
$font: 'Open Sans', sans-serif;

//Fonts weight
$light: 300;
$medium: 400;
$semi-bold: 700;
$bold: 900;

//Font sizes
$section-title: 36pt;
$heading: 24pt; 
$sub-heading: 16pt; 
$body: 12pt; 
$default: 10pt; 

//Letter spacing
$very-small-spacing: -2px;
$small-spacing: -1px;
$medium-spacing: -0.5px;
$wide-spacing: 1px;
