<div class="tab-view" tab-view="pending-posts">
    /@@Projects.Pending(Project_Apollo.Models.ImageConverter.convertPhotoToString(project.customer.Photo), project.customer.name, (int)Session["userRole"], project.createDate.ToString(),
                                         project.Name, project.Description, project.ID, project.customer.ID, (int)Session["id"])@@/
</div>
