<div class="tab-view" tab-view="project-manager-requests">
    @Requests.ProjectManagerRequest(1, 1,(string)Session["userPhoto"], "Muhammad Tarek", "Not a Hot dog app", "5000", "11/2017",
    "11/2017", "Imagine if there an app in the market")
</div>