<div class="tab-view" tab-view="accept-request">
    @if (ViewBag.requests != null){
    foreach(Project_Apollo.Models.Requests request in ViewBag.requests) {
        @Requests.Request(request.ID, Project_Apollo.Models.ImageConverter.convertPhotoToString(request.sender.Photo)
       , request.sender.name, request.project.Name)
    }}
</div>
