<div class="card">
    <ul class="side-menu">
        @{
            var counter = 0;
            foreach (var tab in ViewBag.tabs) {
                <li @{if (counter == 0) { <text> class="tab-active" </text>    } }>
                    @tab
                </li>
            counter++;
            }
        }
    </ul>
</div>