<div class="tab-view" tab-view="user-management">
    <div style="margin-bottom: 10px;">
        <label>Current users</label>
        <a id="add-user" style="float: right;">Add new user</a>
    </div>

    @Users.UserRow(1, (String)Session["userPhoto"], "Muhammad Tarek", "Admin", "muhammadtarek96@gmail.com")
    @Users.UserRow(1, (String)Session["userPhoto"], "Muhammad Tarek", "Admin", "muhammadtarek96@gmail.com")
    @Users.UserRow(1, (String)Session["userPhoto"], "Muhammad Tarek", "Admin", "muhammadtarek96@gmail.com")
</div>
