<div class="tab-view" tab-view="user-management">
    <div style="margin-bottom: 10px;">
        <label>Current users</label>
        <a id="add-user" style="float: right;">Add new user</a>
    </div>

    @{foreach (Project_Apollo.Models.User user in ViewBag.users) {
            @Users.UserRow(user.ID, Project_Apollo.Models.ImageConverter.convertPhotoToString(user.Photo), user.name, "Admin", user.Email)
        }
    }
</div>