<footer>
    <div class="container-width">
        <div class="col-sm-12 no-padding">
            <label>All Rights Reserved</label>
            <img src="~/Public/assets/images/logo-dark.png" width="40" />
        </div>
    </div>
</footer>